@font-face {
  font-family: Montserrat; /* Гарнитура шрифта */
  src: url(Montserrat.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Danger; /* Гарнитура шрифта */
  src: url(Danger.ttf); /* Путь к файлу со шрифтом */
 }
body {
    font-size: 14px;
    line-height: 22px;
    font-family: "Montserrat";
    text-align: center;
    text-decoration: none;
  }
  .container-fluid{
    font-family: "Montserrat";
  }
  header
  {
    position: static;
    top:0%;
    background-color:rgb(22, 22, 22);
  }
  .hat
  {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  h1 {
    color:seashell;
    font-size: 50;
  }

  .TheBoxText{
    color:red;
  }
  .sublineHeader
  {
    font-size: 0.16em;
  }

.helloMessage
{
  font-family: "Montserrat";
  padding-top: 10px;
  font-size: 1px;
  font-weight: 800;
}


footer
{
  font-family: "Montserrat";
  position:sticky;
  align-content: center;
  min-width: 100%;
  top:97.5%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.Rights
{
  text-align: center;
}


.kwork
{
  text-decoration:none;
  color: black;
  font-family: "Danger";
}

.menu {
  text-decoration:none;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

h3{
  text-decoration: none;
}
.card{
  padding: 0px 200px;
}
.contactsText{
  margin: auto;
  width: 200px;
  
}
.contactBlock{
  margin: auto;
}
.contactEnd{
  padding: 2px;
  margin: auto;
  border: 10px black;
}
.navbar{
  width: 100%;
  height: auto;
}
.carousel-inner{
  padding-bottom: 10px;
}

iframe{
  padding: 12px;
  width: 100%;
}

